   .navBar{
    
      
      font-family:Arial;
      background-color:#0B18AE;
      position:fixed;
      top:0;
      padding-top:6%;
      
      
      
      width:101%;
      left:-1%;
      border-left-style:solid;
      
       
      
    }
 .Open{
     background-color:rgba(255,255,255,1);
     border-color:rgba(0,0,0,0);
     position:fixed;
     top:5%;
     left:0%;
    transition:0.5s;
    font-size:20%;
 }
ul {
   
list-style-type:none;
    padding:0;
    overflow:hidden;
    position:fixed;
    top: 4.0%;
        height: 6.5%;
    margin:0; 
    background-color:rgb(51, 113, 166);
    left:0%;
    width:0;
   transition:0.5s;
}

li {
    float:left;
   
}
li a {
    
display:block;
    color:rgba(209, 240, 255,1);
    text-align: center;
    padding:0% 0% 100% 0%;
    text-decoration: none;
    

}
   
li a:hover:not(.active) {
 background-color:rgb(1, 67, 125);   
}

.active{
background-color:rgb(1, 67, 125);
}
