    .navBar{
    
      padding:1% 1%;
      font-family:Arial;
      background-color:#0B18AE;
      position:sticky;
      top:0;
       
      
    }

ul {
list-style-type:none;
    padding:0;
    overflow:hidden;
    top: 10%
        height: 5%;
    margin:0; 
    background-color:#0346C5;
}

li {
    float:left;
}
li a {
    
display:block;
    color:rgba(44, 0, 102,1);
    text-align: center;
    padding:1% 1%;
    text-decoration: none;

}
   
li a:hover:not(.active) {
 background-color:#0272BB;   
}

.active{
background-color:#5702BB;
}
